/* Font performance optimizations */
@font-face {
  font-family: 'Staatliches';
  src: url('@fontsource/staatliches/files/staatliches-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('@fontsource/merriweather/files/merriweather-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('@fontsource/merriweather/files/merriweather-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}