---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { SITE_TITLE } from "~/consts";
import Title from "~/components/Title.astro";
import "~/layouts/BlogPost.css";
import "./caramella-shortmovie.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`CARAMELLA (SHORTMOVIE 2025) | ${SITE_TITLE}`}
      description="CARAMELLA (SHORTMOVIE 2025) is a short film written and directed by Valerio Narcisi. The film tells the story of Ilenia, a young woman working in a shoe factory in Le Marche, Italy, who dreams of becoming an actress. When she is assigned to a night shift that conflicts with her acting course, she struggles to find someone to swap shifts. Discover more about the cast, production, and the official trailer of CARAMELLA."
      cover={"/img/caramella/Copertina.jpg"}
    />
  </head>

  <body >
    <Header />
    <main>
      <article class="BlogPost">
        <Title title="CARAMELLA" />
        <div class="title">
          <h3>SHORTMOVIE 2025</h3>
          <h2>Written and Directed by Valerio Narcisi</h2>
        </div>
        <div class="info">
          <div class="cover-image">
            <img src="/img/caramella/Copertina.jpg" alt="Caramella Cover" />
          </div>
          <div class="title" style="margin-top: 20px;">
            <h2>OFFICIAL TRAILER</h2>
          </div>
          <video
            autoplay
            muted
            src="/img/caramella/CARAMELLA_TRAILER_.mp4"
            controls></video>
        </div>
        <div class="author">
          All graphics and Trailer by
          <a target="_blank" href="https://www.instagram.com/tommypecorari/">
            Stefano Teodori
          </a>
        </div>

        <div class="prose">
          <section class="container">
            <div>
              <section class="plot">
                <h2>Plot</h2>
                <p>
                  Ilenia is a girl that is working in a shoe factory in Le
                  Marche (Italy), who dreams of becoming an actress. When she's
                  assigned to a night shift that conflicts with her acting
                  course, she struggles to get anyone to swap shifts. As her
                  frustration builds, she confides in Massimino, a new
                  colleague, about her desire to escape the monotony and pursue
                  her passion.
                </p>
              </section>
              <hr />
              <section class="technical-specs">
                <h2>Technical Specifications</h2>
                <ul>
                  <li><strong>Shooting Format:</strong> Digitale</li>
                  <li><strong>Sound Format:</strong> AAC</li>
                  <li><strong>Aspect Ratio:</strong> 16:9</li>
                  <li><strong>Musical Rights:</strong> Yes</li>
                  <li><strong>Spoken Language:</strong> Italiano</li>
                  <li><strong>Subtitle Language:</strong> Italiano, Inglese</li>
                </ul>
              </section>
              <hr />
              <section class="cast">
                <h2>Technical Cast</h2>
                <ul>
                  <li>
                    <strong>Editing:</strong>
                    Valerio Narcisi
                  </li>
                  <li>
                    <strong>DOP:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/phjacopofermani/"
                      >Jacopo Fermani</a
                    >
                  </li>
                  <li>
                    <strong>DOP Assistant:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/alessio_bracalente/"
                      >Alessio Bracalente</a
                    >
                  </li>
                  <li>
                    <strong>First Assistant Director:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/dani.vio/"
                      >Daniele Viozzi</a
                    >
                  </li>
                  <li>
                    <strong>Live Sound Recording:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/ugonooztorresi/"
                      >Ugo Torresi</a
                    >
                  </li>
                  <li>
                    <strong>Sound Assistant:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/tiz_moro/"
                      >Tiziano Morelli</a
                    >
                  </li>
                  <li>
                    <strong>Artistic Supervisor:</strong>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/tommypecorari/"
                      >Stefano Teodori</a
                    >
                  </li>
                </ul>
              </section>
              <hr />
              <section class="main-actors">
                <h2>Actors</h2>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/veronica._.ferretti/"
                      >Veronica Ferretti</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/trasatti.francesco/"
                      >Francesco Trasatti</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/joselitoboldorini/"
                      >Joselito</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/moitana10/"
                      >Moira Ciccioli</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/alessandro_mari__/"
                      >Alessandro Mari</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/_sofiabellesi_/"
                      >Sofia Bellesi</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/dabramochiara/"
                      >Chiara D'Abramo</a
                    >
                  </li>
                  <li>Sergio Vexina</li>
                </ul>
              </section>
              <hr />
              <section class="distribution">
                <h2>Distribution</h2>
                <p>
                  <a target="_blank" href="https://www.premierefilm.it/"
                    >Prem1ere srl</a
                  >
                </p>
              </section>
              <hr />
              <section class="screenings">
                <h2>Screenings & Awards</h2>
                <ul>
                  <li>
                    <strong>Mostra Internazionale del Cinema di Bracciano 2025</strong>
                    <br />
                    <em>Menzione Speciale GASP per Impegno Sociale</em>
                  </li>
                  <li>
                    <strong>Corti al Castello 2025</strong>
                    <br />
                    Moresco (FM)
                  </li>
                  <li>
                    <strong>Scollinare Film Festival 2025</strong>
                    <br />
                    Tolentiono (MC)
                  </li>
                </ul>
              </section>
              <hr />
              <section class="special-thanks">
                <h2>Special Thanks</h2>
                <ul>
                  <li>
                    <a target="_blank" href="https://www.officinemattoli.it/"
                      >Officine Mattoli</a
                    >
                  </li>
                  <li>Lorenzo Raponi</li>
                  <li>Claudio Balboni</li>
                  <li>Alessandro Muscolini</li>
                  <li>
                    <a target="_blank" href="https://malloni.com/">_Malloni</a>
                  </li>
                </ul>
              </section>
            </div>
            <div>
              <img
                src="/img/caramella/Locandina_jpeg.jpg"
                alt="Cover Caramella Short Movie 2024"
              />
              <img
                src="/img/caramella/STILL_00.jpg"
                alt="STILL 0 Caramella Short Movie 2024"
              />
              <img
                src="/img/caramella/STILL_01.jpg"
                alt="STILL 1 Caramella Short Movie 2024"
              />
              <img
                src="/img/caramella/STILL_02.jpg"
                alt="STILL 2 Caramella Short Movie 2024"
              />
              <img
                src="/img/caramella/STILL_03.jpg"
                alt="STILL 3 Caramella Short Movie 2024"
              />
              <img
                src="/img/caramella/corto-valerio8.jpg"
                alt="Caramella Backstage 8"
              />
              <img
                src="/img/caramella/corto-valerio9.jpg"
                alt="Caramella Backstage 9"
              />
              <img
                src="/img/caramella/corto-valerio10.jpg"
                alt="Caramella Backstage 10"
              />
              <img
                src="/img/caramella/corto-valerio11.jpg"
                alt="Caramella Backstage 11"
              />
              <img
                src="/img/caramella/corto-valerio12.jpg"
                alt="Caramella Backstage 12"
              />
            </div>
          </section>
          <script
            async
            src="https://talk.hyvor.com/embed/embed.js"
            type="module"></script>
          <hyvor-talk-comments website-id="12917" page-id=""
          ></hyvor-talk-comments>
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
