---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import Title from "~/components/Title.astro";
import "~/layouts/BlogPost.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Filmmaker Jorney | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body data-theme="dark">
    <Header />
    <main class="BlogPost">
      <Title title="Filmmaking Journey" />
      <section class="prose">
        <p>
          <img class="avatar" src="/img/me.jpg" alt="Valerio" />
          My cinematic vision is centered on the reality of today. I seek to explore
          human experience, first through writing and then through film. My current
          perspective (in 2024) focuses on telling the raw story of my provincial
          roots, unfiltered, using a grotesque style to express it. We should not
          be shy about where we were born, but at times we must step outside of reality
          to tell this story.
        </p>
        <hr />

        <h2>Caramella (2024)</h2>
        <h3><i>Wirtten and Directed</i></h3>

        <p>Caramella is my short film for my diploma at Officine Mattoli.</p>
        <p>
          It follows Ilenia, a girl that is working in a shoe factory in Marche,
          who dreams of becoming an actress.
        </p>
        <p>
          When she’s assigned to a night shift that conflicts with her acting
          course, she struggles to get anyone to swap shifts. As her frustration
          builds, she confides in Massimino, a new colleague, about her desire
          to escape the monotony and pursue her passion. The film captures her
          emotional journey as she grapples with the challenges of balancing
          work and dreams.
        </p>
        <div class="img-container">
          <img
            src="/img/caramella/corto-valerio13.jpg"
            alt="Caramella Backstage 13"
          />
          <img
            src="/img/caramella/corto-valerio10.jpg"
            alt="Caramella Backstage 10"
          />
          <img
            src="/img/caramella/corto-valerio3.jpg"
            alt="Caramella Backstage 3"
          />
        </div>
        <hr />
        <h2>Metanaro (2024)</h2><h3>
          <i>Supervisor of the screenwriting and Assistant Director</i>
        </h3>
        <p>
          I was part of the crew of <i
            >Metanaro (directed by <a
              href="https://www.instagram.com/tommypecorari/"
              target="_blank">Stefano Teodori</a
            >)</i
          >, a sitcom based and shot in Le Marche, Italy. It follows Nicola and
          his friends as they navigate the challenges of life in the
          countryside.
        </p>
        <div class="img-container">
          <img src="/img/metano.png" alt="Metanaro " />
          <img src="/img/metano3.png" alt="Metanaro 1" />
        </div>
        <hr />
        <h2>Pochi istanti (2024)</h2>
        <h3><i>Co-Written and Assistant Director</i></h3>
        <p>
          Pochi istanti is a short film directed by <a
            href="https://www.instagram.com/phjacopofermani/"
            target="_blank">Jacopo Fermani</a
          >, with a screenplay by Fermani, me and <a
            href="https://www.instagram.com/iacoponimartina/"
            target="_blank">Martina Iacoponi</a
          >.
        </p>
        <p>
          Set in the Marche countryside in 2025, the story follows a young man
          working for a tech startup, testing a new drone designed to analyze
          soil fertility.
        </p>
        <p>
          As he commands the drone, something strange happens—rather than
          sticking to the task at hand, the drone begins to wander, capturing
          unsettling and mysterious footage. The drone’s journey takes it
          through a quaint village, where it captures snippets of a radio
          broadcast discussing the global environmental crisis and the need for
          sustainable development.
        </p>
        <p>
          As the drone continues its flight, the lines between reality and
          illusion blur, leading to a disorienting and thought-provoking
          conclusion. The film reflects on the intersection of technology,
          nature, and human perception.
        </p>
        <div class="img-container">
          <img src="/img/pochiistanti.png" alt="Pochi Istanti screen " />
          <img src="/img/pochiistanti1.png" alt="Pochi Istanti screen 1" />
          <img src="/img/pochiistanti2.png" alt="Pochi Istanti screen 2" />
          <div class="pic-caption">
            <img src="/img/pochiistanti3.png" alt="Pochi Istanti screen 3" />
            <span class="caption">me and my daughter on the swing</span>
          </div>
        </div>
        <hr />
        <h2>Arturo (2020)</h2><h3>
          <i>Subject and Screenwriting</i>
        </h3>
        <p>
          Arturo (directed by <a
            href="https://www.instagram.com/tommypecorari/"
            target="_blank">Stefano Teodori</a
          >) is a short film that follows two elderly people in the deep Marche
          countryside as they search for their lost pig, Arturo.
        </p>
        <p>
          Their journey takes them through endless car rides, encounters with
          boring old ladies, and strange characters from the local bar, all
          while they begin to fear the worst about the fate of their beloved
          pig. The story combines elements of rural life, humor, and unexpected
          encounters.
        </p>
        <p>Arturo also won a prize at the Roccafluvione Film Festival.</p>
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/7TpiIvEq5l8?si=95DZqUv7cTlM8qNW"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          frameborder={0}
          allowfullscreen></iframe>
      </section>
    </main>

    <Footer />
  </body>
</html>
