---
import BaseHead from '~/components/BaseHead.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '~/consts';
import Hero from '~/components/Hero.astro';
import Title from '~/components/Title.astro';
import { getCollection } from 'astro:content';
import Card from '~/components/Card.astro';
import './index.css';
import FetchSongs from '~/components/FetchSongs';
import FetchMovies from '~/components/FetchMovies';

const posts = (await getCollection('blog')).sort(
	(a: any, b:any) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf(),
).slice(0, 5);


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body data-theme="dark">
		<Header />
		<Hero
		title="Hi I'm Valerio"
		subtitle="I'm a web developer, director and screenwriter. I currently work at Cleafy as fullstack developer. "
		callToActions={[
			{
				label: 'Connect with me',
				href: 'http://linkedin.com/in/cv-valerio-narcisi',
			},
			{
				label: 'Watch Arturo my first shortfilm',
				href: 'https://vimeo.com/931983314',
			},
		]}
		/>
		<main>
			<section id="last-watched">
				<Title title="Last watched movies" />
				<div class="ReelContainer">
				<FetchMovies client:load />
				</div>
			</section>
			<section>
				<Title title="Last Listened songs" />
				<div class="ReelContainer">
				<FetchSongs client:load />
				</div>
			</section>
			<section>
				<Title title="Latest posts" />
				{
					posts.map((post:any) => ( 
							<Card {...post.data } slug={post.slug} />
					))
				}	
			</section>	
			</main>
		<Footer />
	</body>
</html>
