section {
  margin: var(--space-large) 0;
}

.ReelContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: var(--space-medium) auto;
  padding-left: var(--space-medium);
  overflow-x: auto;
  scrollbar-color: var(--color-tertiary) var(--backgroundColor-primary);
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.strava-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 var(--space-medium);
  margin: var(--space-medium) 0;
}

.strava-chart-full {
  padding: 0 var(--space-medium);
  margin: var(--space-medium) 0;
}

@media (min-width: 769px) {
  .ReelContainer {
    gap: 3rem;
    padding-left: var(--space-large);
  }

  .strava-top {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0 var(--space-large);
  }

  .strava-top #strava-summary {
    flex: 1;
  }

  .strava-chart-full {
    padding: 0 var(--space-large);
  }
}
