section {
  margin: var(--space-large) 0;
}

.ReelContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: var(--space-medium) auto;
  padding-left: var(--space-medium);
  overflow-x: auto;
  scrollbar-color: var(--color-tertiary) var(--backgroundColor-primary);
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 769px) {
  .ReelContainer {
    gap: 3rem;
    padding-left: var(--space-large);
  }
}
