section {
  margin: var(--space-large) 0;
}

.ReelContainer {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  margin: var(--space-medium) auto;
  padding-left: var(--space-large);
  overflow-x: scroll;
  scrollbar-color: var(--backgroundColor-tertiary)
    var(--backgroundColor-primary);
  scrollbar-width: thin;
}

@media screen and (max-width: 768px) {
  .ReelContainer {
    padding-left: var(--space-medium);
  }
}
