---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import Title from "~/components/Title.astro";
import "~/layouts/BlogPost.css";
const today = new Date();
---

<!doctype html>
<html lang="it">
  <head>
    <BaseHead
      title={`Privacy Policy | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main class="BlogPost">
      <Title title="Privacy Policy" />
      <section class="prose">
        <h2>Ultimo aggiornamento: {today.getFullYear()}</h2>

        <p>
          Su valerionarcisi.me, la privacy degli utenti e una priorita. Non utilizziamo
          strumenti di tracciamento, analytics o pubblicita.
        </p>

        <hr />
        <h2>1. Dati che raccogliamo</h2>
        <p>
          Raccogliamo solo i dati necessari per fornire i nostri servizi:
          Newsletter: Se ti iscrivi, raccogliamo il tuo indirizzo email per inviarti
          aggiornamenti. Puoi disiscriverti in qualsiasi momento. Commenti: Utilizziamo Hyvor Talk,
          un sistema di commenti orientato alla privacy che non traccia gli utenti e non vende
          dati a terze parti. Maggiori informazioni qui: <a
            target="_blank"
            href="https://talk.hyvor.com/docs#privacy-focused"
            >Documentazione Hyvor Talk
          </a>
        </p>
        <hr />

        <h2>2. I tuoi diritti</h2>
        <p>
          Hai il diritto di: richiedere la cancellazione della tua email dalla nostra newsletter;
          eliminare i tuoi commenti direttamente su Hyvor Talk.
        </p>
        <hr />

        <h2>3. Contatti</h2>
        <p>
          Per qualsiasi richiesta relativa alla privacy, contattaci a: <a
            href="mailto:valerio.narcisi@gmail.com">valerio.narcisi@gmail.com</a
          >
        </p>
      </section>
    </main>

    <Footer />
  </body>
</html>
