.WhoIAm {
  max-width: 800px;
  margin-top: var(--space-large);
  p,
  ul,
  li {
    font-size: var(--fontSize-small);
    line-height: var(--lineHeight-looser);
  }
  @media screen and (max-width: 768px) {
    p,
    ul,
    li {
      font-size: var(--fontSize-very-medium);
      line-height: var(--lineHeight-looser);
    }
  }
  .bio {
    margin-top: var(--space-large);
  }
  img {
    box-shadow: var(--boxShadow-small);
  }
  .family {
    text-align: center;
  }
  .avatar {
    margin: var(--space-medium) auto;
    max-width: 100%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: var(--boxShadow-small);
    margin-right: var(--space-xlarge);
  }
}

@media screen and (max-width: 768px) {
    .WhoIAm{ 
      max-width: 90%;
    }
  }