footer {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: var(--space-large);
  margin: var(--space-large) auto;
  max-width: 70%;
  padding: var(--space-large);
  border-radius: var(--borderRadius-medium);
  background-color: var(--backgroundColor-secondary);
  color: var(--color-neutral);
  font-size: var(--fontSize-small);
  font-family: var(--fontFamily-title);
  box-shadow: var(--boxShadow-medium);
  h3 {
    font-size: var(--fontSize-medium);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    max-width: 90%;
    grid-template-columns: 1fr;
    gap: var(--space-medium);
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    max-width: 90%;
  }
}
