---
import "~/components/Footer.css";
const today = new Date();
---

<footer>
  <div>
    <h3>Get in touch</h3>
    <ul>
      <li>
        <a href="mailto:valerio.narcisi@gmail.com">valerio.narcisi@gmail.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/narcisi.valerio/"
          >Instagram</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/valerionarcisi">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/cv-valerio-narcisi/">LinkedIn</a
        >
      </li>
      <li>
        <a target="_blank" href="https://bsky.app/profile/valerionarcisi.me"
          >BlueSky</a
        >
      </li>
      <li>
        <a target="_blank" href="https://boxd.it/2mFff">Letterboxd</a>
      </li>
    </ul>
  </div>
  <div>
    <div>
      <h3>Stay up to date</h3>
      <p>Subscribe to receive notifications about my latest posts and updates. Unsubscribe at any time.</p>
      <script
        async
        src="https://talk.hyvor.com/embed/newsletter.js"
        type="module"></script>
      <hyvor-talk-newsletter website-id="12917" style="margin-top: 20px;"></hyvor-talk-newsletter>
      <p style="margin-top: 20px;">
        This website is made from <a
          target="_blank"
          href="https://maps.app.goo.gl/U4QDSCMwis5KvoaY8">"Le Marche Zozze"</a
        > by me.<br /> Copyright {today.getFullYear()}
      </p>
    </div>
  </div>
</footer>
