---
import "~/components/Footer.css";
const today = new Date();
---

<footer>
  <div>
    <h3>Get in touch</h3>
    <ul>
      <li>
        <a href="mailto:valerio.narcisi@gmail.com">valerio.narcisi@gmail.com</a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/narcisi.valerio/"
          >Instagram</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/valerionarcisi">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/cv-valerio-narcisi/">LinkedIn</a
        >
      </li>
      <li>
        <a target="_blank" href="https://bsky.app/profile/valerionarcisi.me"
          >BlueSky</a
        >
      </li>
      <li>
        <a target="_blank" href="https://boxd.it/2mFff">Letterboxd</a>
      </li>
    </ul>
  </div>
  <div>
    <div>
      <h3>FYI</h3>
      <p style="margin-top: 20px;">
        This website is made from <a
          target="_blank"
          href="https://maps.app.goo.gl/U4QDSCMwis5KvoaY8">"Le Marche Zozze"</a
        > by me.<br /> Copyright {today.getFullYear()}
      </p>
      <p class="tagline">// building things with AI, not the opposite.</p>
    </div>
  </div>
  <a href="/api/t" style="position:absolute;left:-9999px;width:1px;height:1px;overflow:hidden;" tabindex="-1" aria-hidden="true">sitemap</a>
  <a href="/api/t?r=2" style="clip:rect(0,0,0,0);position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;" tabindex="-1" aria-hidden="true">wp-admin</a>
  <a href="/api/t?r=3" style="opacity:0;pointer-events:none;position:absolute;top:0;left:0;width:0;height:0;" tabindex="-1" aria-hidden="true">login</a>
</footer>
