footer {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: var(--space-large);
  margin: var(--space-large) auto;
  max-width: 70%;
  padding: var(--space-large);
  border-radius: var(--borderRadius-medium);
  background-color: var(--backgroundColor-secondary);
  color: var(--color-neutral);
  font-size: var(--fontSize-medium);
  font-family: var(--fontFamily-title);
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: var(--space-medium);
  }
  h3 {
    font-size: var(--fontSize-large);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
