---
import HeaderLink from '~/components/HeaderLink.astro';
import '~/components/Header.css'
---

<header class="Header">
	<div>
		<nav>
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/who-i-am">Who I Am</HeaderLink>
				<HeaderLink href="/filmmaker-journey">Filmmaker Journey</HeaderLink>
	</div>
</header>
