.Header {
  background-color: var(--backgroundColor-secondary);
  background-size: cover;
  background-position: center;
  box-shadow: var(--boxShadow-inverted);
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2rem 1rem;
  .logo-container {
    width: 200px;
  }
  .logo {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-neutral);
    text-decoration: none;
    img {
      border-radius: 50%;
      box-shadow: var(--boxShadow-thin);
      width: 32px;
      height: 32px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--backgroundColor-secondary);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  nav.active {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
  }

  nav a {
    padding: 1rem;
    display: block;
    color: var(--color-neutral);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  nav a:last-child {
    border-bottom: none;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
    padding: 0.5rem;
    background: none;
    border: none;
  }

  .menu-toggle span {
    display: block;
    width: 25px;
    height: 1px;
    background-color: var(--color-neutral);
    margin: 8px auto;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
}
