---
const { tag, lang = "it", asSpan = false } = Astro.props;
import '~/components/Tag.css'

const tagPrefix = lang === "it" ? "/tag" : "/en/tag";
---
{asSpan ? (
  <span class="Tags">{tag}</span>
) : (
  <a class="Tags" href={`${tagPrefix}/${tag.toLowerCase()}`}>{tag}</a>
)}
