.Tags {
  color: var(--color-primary);
  background-color: var(--backgroundColor-tertiary);
  padding: var(--space-small);
  text-transform: uppercase;
  font-size: var(--fontSize-very-small);
  border-radius: var(--borderRadius-small);
  text-decoration: none;
  margin: 0 var(--space-small);
  font-family: var(--fontFamily-title);
  color: var(--color-primary);
  transition: box-shadow var(--transition-fast);
}

.Tags:first-of-type {
  margin-left: 0;
}

.Tags:hover {
  box-shadow: var(--boxShadow-inverted-hover);
  color: var(--color-neutral);
  text-decoration: underline;
}

.Tags:visited {
  color: var(--color-primary);
}
