.BlogPost {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: var(--space-medium);
  .author {
    text-align: center;
    font-size: var(--fontSize-very-small);
    .description {
      margin-top: 2px;
      font-size: var(--fontSize-very-micro);
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      max-width: 50%;
      background-color: var(--backgroundColor-tertiary);
      color: var(--color-primary);
      border-radius: var(--borderRadius-small);
      font-size: var(--fontSize-extraLarge);
      font-weight: var(--fontWeight-800);
      margin: var(--space-medium) auto;
      padding: 0 var(--space-medium);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    margin: 0 auto;
    position: relative;

    .cover-image {
      width: 100%;

      img {
        width: 100%;
        display: block;
        box-shadow: var(--boxShadow-medium);
        border-radius: var(--borderRadius-small);
        margin-bottom: var(--space-medium);
      }
    }

    .metadata {
      position: absolute;
      bottom: var(--space-medium);
      left: var(--space-small);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - var(--space-small) * 2);

      .tags {
        font-size: var(--fontSize-very-small);
        color: var(--color-neutral);
        padding: var(--space-small);
        border-radius: var(--borderRadius-small);
      }
      .date {
        font-size: var(--fontSize-very-small);
        color: var(--color-neutral);
        background-color: rgba(0, 0, 0, 0.7);
        padding: var(--space-small);
        border-radius: var(--borderRadius-small);
      }
      
      /* Light theme version */
      body[data-theme="light"] & .date {
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .info {
      max-width: 85%;
      .metadata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .tags {
          font-size: var(--fontSize-very-micro);
        }
        .date {
          font-size: var(--fontSize-very-micro);
        }
      }
    }
  }

  .prose {
    margin: var(--space-medium) auto;
    max-width: 55%;
    color: var(--color-neutral);
    font-size: var(--fontSize-small);
    font-weight: var(--fontWeight-400);
    line-height: var(--lineHeight-loose);
    white-space: normal; 
  
    img {
      margin: var(--space-small) 0;
      max-width: 100%;
      box-shadow: var(--boxShadow-thin);
    }

    .avatar {
      margin: var(--space-medium) auto;
      max-width: 100%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      box-shadow: var(--boxShadow-small);
      margin-right: var(--space-xlarge);
    }

    .img-container {
      text-align: center;
      img {
        margin-bottom: var(--space-large);
      }
    }

    .pic-caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: var(--space-small);
      }

      .caption {
        text-align: center;
        text-transform: uppercase;
        color: var(--color-secondary);
        font-size: var(--fontSize-very-small);
        margin-top: var(--space-small);
        margin-bottom: var(--space-medium);
      }
    }
  }

  @media (max-width: 768px) {
    .title h1 {
      max-width: 75%;
    }

    .info {
      max-width: 85%;
    }

    .prose {
      margin: var(--space-medium) auto;
      max-width: 85%;
      font-size: var(--fontSize-medium);
      font-weight: var(--fontWeight-400);
      line-height: var(--lineHeight-loose);
      white-space: normal; 
    }
  }
}
