.BlogPost {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: var(--space-medium);

  img {
    display: block;
    margin: var(--space-medium) auto;
    max-width: 65%;
    box-shadow: var(--boxShadow-medium);
  }

  @media screen and (max-width: 768px) {
    img {
      max-width: 85%;
    }
  }

  .info {
    font-size: var(--fontSize-very-small);
    color: var(--color-neutral);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
      max-width: 50%;
      background-color: var(--backgroundColor-tertiary);
      color: var(--color-primary);
      border-radius: var(--borderRadius-small);
      font-size: var(--fontSize-extraLarge);
      font-weight: var(--fontWeight-800);
      margin: var(--space-medium) auto;
      padding: 0 var(--space-medium);
    }
  }
  @media (max-width: 768px) {
    .title {
      h1 {
        max-width: 75%;
      }
    }
  }

  .prose {
    margin: var(--space-medium) auto;
    max-width: 55%;
    color: var(--color-neutral);
    font-size: var(--fontSize-small);
    font-weight: var(--fontWeight-400);
    line-height: var(--lineHeight-normal);
    img {
      margin: var(--space-small);
      max-width: 100%;
      box-shadow: var(--boxShadow-thin);
    }

    .avatar {
      margin: var(--space-medium) auto;
      max-width: 100%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      box-shadow: var(--boxShadow-small);
      margin-right: var(--space-xlarge);
    }
    .img-container {
      text-align: center;
      img {
        margin-bottom: var(--space-large);
      }
    }
    .pic-caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-bottom: var(--space-small);
      }
      .caption {
        text-align: center;
        text-transform: uppercase;
        color: var(--color-secondary);
        font-size: var(--fontSize-very-small);
        margin-top: var(--space-small);
        margin-bottom: var(--space-medium);
      }
    }
  }
  @media (max-width: 768px) {
    .prose {
      margin: var(--space-medium) auto;
      max-width: 85%;
      font-size: var(--fontSize-medium);
      font-weight: var(--fontWeight-400);
      line-height: var(--lineHeight-normal);
    }
  }

  .cover {
    font-size: var(--fontSize-very-small);
  }
}
